button, input {
    border: none;
    background: none;
    outline: none;
    color: white;
  }

  body {
    font: 1rem/1.3 "Roboto", sans-serif;
    background:  #0a1f44;
    color:  #1e2432;
    padding: 100px;
    transition: background-color 1000ms linear; 
    
  }

  .heading {
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0.02em;
    padding: 0 0 30px 0;
  }
   
  .container {
    color: white;
    margin-bottom: 20px;
  }
   
  .container input {
    font-size: 2rem;
    height: 40px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid;
  }
   
   
  .container button {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 15px 20px;
    margin-left: 15px;
    border-radius: 5px;
    background: rgb(65, 65, 231);
    transition: background 0.3s ease-in-out;
    
  }

  .container button:hover { 
    background: rgb(40, 40, 168);
  }

  #result {
    background: rgb(66, 153, 187);
    border-radius: 20px;
    width:290px;
    transition: background-color 1000ms linear; 
  }
   
  #result #temp {
    color: #FFF;
    font-size: 102px;
    font-weight: 900;
    margin: 30px 0px;
    text-shadow: 2px 10px rgba(0, 0, 0, 0.6);
  }
  
  
  #result #weather {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
    font-style: italic;
    margin: 10px 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
  }
  
  #result #country {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    margin: 10px 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
  }

  #result #feel {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    font-style: italic;
    margin: 10px 15px;
    text-shadow: 0px 3px rgba(0, 0, 0, 0.4);
  }
 

